body{
    font-family: sans-serif;
    background-color: #eef7ff;
}
h1{
    font-family: 'Poppins', sans-serif;
    color:darkblue;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:navy;
    text-shadow:5px 5px0px rgb(74, 39, 188);
}
p{  

    font-size: 33px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    text-indent:40px;
    color:#333;
    font-family:Montenegrin Gothic One,serif;
}